@font-face {
    font-family: Outfit;
    src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}

@font-face {
    font-family: Young-Serif;
    src: url("./assets/fonts/YoungSerif-Regular.ttf");
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit;
    line-height: 1.5rem;
    font-size: 1rem;
    color: hsl(30, 10%, 34%);
}

img {
    max-width: 100%;
}

main {
    padding: 2rem 1.85rem;
}

h1 {
    font-family: Young-Serif;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: hsl(24, 5%, 18%);
}

.prepa-container {
    margin-top: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: hsl(330, 100%, 98%);
}

.prepa {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
}